
<head runat="server">    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>  
</head> 

<h3>Book Details</h3>

<!--book cover-->
<div class="row">
<div class="pull-left">
  <div>
    <img *ngFor="let books of books" src="{{books.coverImagePath}}" alt="{{books.name}}" 
    class="img-responsive" style="max-height: 225px;">
  </div>
</div>
</div>


<!--book title-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Title:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.title}}</p>
  </div>
  <!--author name-->
</div>
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Author:</p>
  </div>
  <div class="col-md-7">
    <a *ngFor="let books of books" class="list-group-item-text" 
    href="#">{{books.author}}</a>
  </div>  
</div>
<!--Gerne-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Gerne:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.gerne}}</p>
  </div>  
</div>
<!--Publisher-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Publisher:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.publisher}}</p>
  </div>  
</div>
<!--Price-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Price:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.price}}</p>
  </div>  
</div>
<!--Synopsis-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>Synopsis:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.synopsis}}</p>
  </div>  
</div>
<!--about the author-->
<hr>
<div class="row">
  <div class="col-md-3">
        <p>About the Author:</p>
  </div>
  <div class="col-md-7">
    <p *ngFor="let books of books" class="list-group-item-text">{{books.aboutAuthor}}</p>
  </div>  
</div>


<body ng-app>  
    <div class="container">  
        <h1>Comment   
        </h1>  
        <hr />  
        <div class="form-group" >  
            <form ng-controller="commentControler">  
                <textarea class="form-control" rows="5" placeholder="Your Comment Please....."  ng-model="CommentText"></textarea>  
                <br />  
                <button class="btn btn-success pull-right" ng-click="addComment()">Comment.</button>  
                <br />  
                <hr />  
                <ul class="list-group" >  
                    <li class="list-group-item" ng-repeat="cmt in commentArray">{{cmt}}  
                        <a href="" ng-click="romoveComment($comText);" ><span class="glyphicon glyphicon-trash" style="float:right"> </span></a>  
                    </li>  
                </ul>  
            </form>  
        </div>  
    </div>  
    <script>  
  
        function commentControler($scope) {  
            $scope.commentArray = [];  //Main Object hare I'm adding all Comment informations
            $scope.addComment = function () {  // Comment Button click Event
                if($scope.CommentText!=null)  
                {  
                    $scope.commentArray.push($scope.CommentText);  
                    $scope.CommentText = "";  
                }  
            }  
            $scope.romoveComment = function ($comText) {  // Delete button click Event
                $scope.commentArray.splice($comText,1);  
            }  
  
        }  
    </script>
  </body>        
          
   